<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197601339687-rjfo1vmb04i1hdsch5jvroh15ksrg5k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197601339687-rjfo1vmb04i1hdsch5jvroh15ksrg5k6</string>
	<key>API_KEY</key>
	<string>AIzaSyCI1CWKiJC3Nky_gy7SrSRH9KAvS02xCoM</string>
	<key>GCM_SENDER_ID</key>
	<string>197601339687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gondergelsinMobileApp</string>
	<key>PROJECT_ID</key>
	<string>gondergelsin-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gondergelsin-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197601339687:ios:4efd557d6d0952eddb2102</string>
	<key>DATABASE_URL</key>
	<string>https://gondergelsin-mobile-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>